@import "~@fortawesome/fontawesome/styles.css";
@import "~bulma/css/bulma.css";
@import "~bulma-tooltip/dist/bulma-tooltip.min.css";

/* react key bindings */
div[tabindex="-1"]:focus {
  outline: 0;
}

/* this is within a hero for now so add back */
.tabs ul {
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.day .plan:focus .overlay,
.day .plan:hover .overlay {
  display: block !important;
}

.fa-hover:focus, .fa-hover:hover {
  color: #00d1b2;
  cursor: pointer;
}

/* fixes panels that have centered text */
.panel-block.has-text-centered {
  display: inherit;
}

/* react burger menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-menu .label {
  color: white;
}

.bm-menu .title {
  color: white;
}

/* Settings */
:root {
  /* --offset: 2rem; */
  --offset: 0;
  --max_width: 72rem;
  --columns: 8;
  --gutter: 10px;
  --baseline: 3rem;
  --baseline-offset: 2rem;
  --color: hsla(204, 80%, 72%, 0.25);
  --color1: white;
  --color2: green;
}

/* Helper variables */
:root {
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right,
    var(--color),
    var(--color) var(--column-width),
    transparent var(--column-width),
    transparent var(--repeating-width)
  );
  --background-baseline: repeating-linear-gradient(
    to bottom,
    var(--color),
    var(--color) 1px,
    transparent 1px,
    transparent var(--baseline)
  );
}

/* Styling */
html {
  position: relative;
}

/* This works pretty well for columns but rows need some work
   For rows, might try a background image on the left column that would overflow?
*/
/* .react-grid-layout.layout::before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  /* margin-right: auto; 
  margin-left: 149px;
  /* width: calc(100% - (2 * var(--offset))); 
  max-width: var(--max_width);
  min-height: 100vh;
  content: '';
  background-image: var(--background-columns), var(--background-baseline);  
  /* background-size: var(--background-width) 100%; 
  background-position: 0 var(--baseline-offset);
  /* z-index: 1000; 
  pointer-events: none;
}
 */
